* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
}

body {
    width: 100%;
}

/* Global */

.request-invite-btn {
    border: 0;
    padding: 10px 35px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 35px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1em;
}

/* Header */
#header {
    background-color: hsl(0, 0%, 98%);
    padding: 1.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    width: 8em;
}

#header button {
    border: 0;
    background-color: transparent;
}

#header .hamburger {
    width: 2em;
}

#header .close {
    width: 1.5em;
}

#header .request-invite-btn {
    display: none;
}

#header #ul-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    list-style: none;
    width: 90%;
    text-align: center;
    top: 6em;
    border-radius: 10px;
}

.none {
    display: none !important;
}


#header #ul-mobile li {
    color: hsl(231, 5%, 53%);
    padding: 1em;
}

#header #ul-desktop {
    display: none;
}

#header #hamburger {
    display: none;
}


/* background container */
#displayPicture {
    background: url("./images/bg-intro-mobile.svg") no-repeat;
    background-size: cover;
    padding: 2em;
    overflow: hidden;
}

#displayPicture img {
    width: 100%;
    margin-top: -19%;
}

/*Next generation digital banking container */
#nxtGenBankingDesktop {
    display: none;
}

#nxtGenBankingMobile {
    text-align: center;
    padding: 2em;
    padding-bottom: 3em;
}

#nxtGenBankingMobile h1,
#nxtGenBankingDesktop h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 2.5em;
}

#nxtGenBankingMobile p,
#nxtGenBankingDesktop p {
    color: hsl(233, 8%, 62%);
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.7;
    line-height: 1.5em;
}


/* whyChooseBank container */
#whyChooseBank {
    text-align: center;
    padding: 2em;
    padding-bottom: 3em;
    background-color: hsl(220, 16%, 96%);
    padding-top: 4em;
}

#whyChooseBank h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    font-size: 3em;
    padding-bottom: 0.5em;
}

#whyChooseBank p {
    color: hsl(233, 8%, 62%);
    padding-bottom: 2.5em;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.7;
    line-height: 1.5em;
}

/* bankFeatures */
#bankFeatures {
    text-align: center;
    padding: 2em;
    padding-bottom: 1.5em;
    background-color: hsl(220, 16%, 96%);
}

#bankFeatures img {
    width: 25%;
}

#bankFeatures h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    font-size: 1.75em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    opacity: 0.9;
}

#bankFeatures p {
    color: hsl(233, 8%, 62%);
    font-size: 1em;
    font-weight: bold;
    opacity: 0.7;
    line-height: 1.5em;
}

/* Latest heading */
.latest {
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 2.5em;
    padding-top: 2em;
}

/* Latest Articles */

#articles {
    padding: 2em;
    padding-bottom: 1.5em;
}

#articles img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#articles small {
    color: hsl(233, 8%, 62%);
    font-size: 0.8em;
    font-weight: 600;
}

#articles h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#articles p {
    color: hsl(233, 8%, 62%);
    font-size: 1.1 em;
    font-weight: 600;
    opacity: 0.8;
}

#articles div {
    padding: 2em;
}

/* Footer */

footer {
    background-color: hsl(233, 26%, 24%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 40%;
    padding-bottom: 2.5em;
}

footer .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
}

footer .social-icon {
    width: 3em;
    padding: 0.5em;
}

footer p {
    color: hsl(0, 0%, 98%);
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.9;
    padding: 0.5em;
}

footer button {
    margin-top: 2.2em;
    margin-bottom: 2em;
}

footer span {
    color: hsl(233, 8%, 62%);
    font-weight: 600;
    opacity: 0.9;
}


@media screen and (min-width: 1000px) {

    /* Global */
    .request-invite-btn {
        cursor: pointer;
        font-size: 0.7em;
    }

    .request-invite-btn:hover {
        opacity: 0.7;
    }

    /* Header */
    #header {
        padding: 0;
        padding-left: 8em;
        padding-right: 8em;
    }

    #header button {
        display: none;
    }

    #header .request-invite-btn {
        display: inline-block;
    }

    #header #ul-mobile {
        display: none;
    }

    #header #ul-desktop {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }

    #header li {
        padding: 1.5em 1em;
        color: hsl(233, 8%, 62%);
        font-weight: bold;
        opacity: 0.8;
        font-size: 0.9em;
        cursor: pointer;
    }

    .request-invite-btn:hover {
        opacity: 0.5;
    }

    #header li:hover {
        padding-bottom: 1.2em;
        border-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 30;
        border-bottom: 0.3em solid;
        color: #000000;
    }


    /*background and displayPicture  */

    #displayPicture {
        padding: 0;
        background: url("./images/bg-intro-desktop.svg") no-repeat;
        background-position: 35em -18em;
        display: flex;
        justify-content: space-between;
    }

    #displayPicture img {
        width: 50%;
        position: relative;
        right: -5em;
        height: 100%;
    }

    /* nxtGenBanking conainer */
    #nxtGenBankingDesktop {
        display: inline-block;
        width: 40%;
        padding-left: 8em;
        padding-top: 8em;
        padding-bottom: 8em;
    }

    #nxtGenBankingMobile {
        display: none;
    }

    /* whyChooseBank container */
    #whyChooseBank {
        text-align: left;
        padding-left: 8em;
    }

    #whyChooseBank h1 {
        font-size: 2em;
    }

    #whyChooseBank p {
        width: 50%;
        padding-bottom: 0em;
    }

    /* bankFeaturesContainer */

    #bankFeaturesContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 8em;
        padding-right: 8em;
        background-color: hsl(220, 16%, 96%)
    }

    #bankFeatures {
        text-align: left;
        padding: 0;
        padding-top: 1.5em;
        padding-bottom: 4em;
    }

    #bankFeatures h1 {
        font-size: 1.2em;
        padding-right: 1.5em;
    }

    #bankFeatures p {
        font-size: 0.8em;
        padding-right: 1.5em;
    }

    /* Latest heading */
    .latest {
        text-align: left;
        font-size: 2.5em;
        padding-top: 2em;
        padding-left: 3.2em;
    }

    /* articlesContainer */

    #articlesContainer {
        display: flex;
        justify-content: center;
        padding-left: 8em;
        padding-right: 8em;
        padding-bottom: 1em;
    }

    #articles {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1.5em;
    }

    #articles img {
        width: 100%;
    }

    #articles small {
        font-size: 0.5em;
    }

    #articles h1 {
        font-size: 0.9em;
        cursor: pointer;
    }

    #articles h1:hover {
        color: hsl(192, 70%, 51%);
    }

    #articles p {
        font-size: 0.6em;
    }

    #articles div {
        padding: 0.6em;
    }

    /* footer */
    footer {
        flex-direction: row;
        padding-left: 8em;
        padding-right: 8em;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer div {
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer div img {
        width: 60%;
    }


    footer div p {
        padding: 0;
        padding-bottom: 1em;
        cursor: pointer;
    }

    footer div p:hover {
        color: hsl(136, 65%, 51%);
    }

    footer button {
        align-self: flex-end;
        margin-top: 0;
        margin-bottom: 5em;
    }
}